## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Balaghat,IN,83.03,broken clouds,21.8000,80.1833,Hotel celebration
1,2,Saint Anthony,US,73.94,broken clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
2,5,Saint-Philippe,RE,71.19,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,6,Cravinhos,BR,72.32,few clouds,-21.3403,-47.7294,Ônix Inn Hotel Cravinhos
4,11,Atambua,ID,71.64,broken clouds,-9.1061,124.8925,Kost Alfa Flat
5,13,Butaritari,KI,82.08,light rain,3.0707,172.7902,Isles Sunset Lodge
6,15,Rikitea,PF,72.30,light rain,-23.1203,-134.9692,People ThankYou
7,16,Zhangye,CN,78.64,overcast clouds,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
8,18,Sinnamary,GF,78.60,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
9,20,Hasaki,JP,75.60,clear sky,35.7333,140.8333,Inubosaki Kanko Hotel

In [6]:
# Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""


# Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]


# Get the latitude and longitude from each row and store in a new DataFrame.

locations = vacation_df[["Lat", "Lng"]]

In [7]:
# Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start = vacation_df.loc[vacation_df["City"] == "Ranong"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ranong"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Kathu"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Phangnga"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Pak Phanang"]

In [26]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [29]:
# Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# To create a marker layer map between the four cities.
# Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,672,Ranong,TH,76.93,overcast clouds,9.9658,98.6348,Numsai Khaosuay Resort Ranong
1,447,Kathu,TH,82.22,overcast clouds,7.9178,98.3332,Novotel Phuket Resort
2,216,Phangnga,TH,82.44,light rain,8.4509,98.5298,Sunimit Mansion
3,33,Pak Phanang,TH,82.42,overcast clouds,8.3511,100.2020,Green Park Inn Hotel

In [31]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""


# Get the data from each row and add it to the formatting template and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# Get the latitude and longitude from each row and store in a new DataFrame.

locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))